.photo {
    background-color: #D7AFAF;
    min-height: calc(100vh - 72px);
    margin-top: 72px;
}

.photo_container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
}

.photo img {
    width: 100%;
}

.message_container {
    margin: 1em 0;
}

.comments {
    text-align: left;
}

.comments form {
    padding: 1em 0;
    border-bottom: 1px solid #363636;
}

.profile_form_input {
    font-weight: 600;
    border: none;
    transition: 0.5s all;
}

.comments p {
    padding: 0.5em 0;
    margin: 0;
    max-width: 100%;
    word-wrap: break-word;
}

.commentBtn {
    background-color: #946262;
    border: none;
    font-weight: bold;
    padding: 0.5em 1.5em;
    transition: 0.5s all;
}

.comment {
    padding: 1em 0;
}

.comment .author {
    display: flex;
    font-weight: bold;
}

.comment .author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.3em;
}

.comment .author a {
    padding-left: 0.5em;
    color: #946262;
}

@media only screen and (max-width: 600px) {
    .photo_container {
        width: 90%;
    }
}