.footer {
    padding: 2em;
}

.container,
.brand {
    display: flex;
    align-items: center;
}

.container {
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.brand img {
    width: 8%;
}

.brand p {
    margin-top: 10px;
    margin-left: 0.5em;
    color: gray;
}

.socialMedias a {
    text-decoration: none;
    color: #946262;
    padding: 0.2em;
}

.socialMedias a .apps {
    width: 40px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}