.card {
    font-family: 'Roboto Slab', serif;
    width: 22%;
    margin: 1em;
    background-color: #BC8080;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.title {
    display: flex;
    align-items: center;
    background-color: #A97676;
    color: #FEFEFE;
    height: 15%;
}

.icon,
.tagsIcon,
.calendar {
    margin-right: 5px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tags p {
    margin-top: 10px;
    margin-right: .3em;
}

.tags p span {
    font-weight: bold;
}

.cardButton {
    background-color: #946262;
    border: none;
    border-radius: 0;
    font-weight: 600;
}

.cardButton:hover {
    background-color: #A97676;
}

.deleteButton {
    background-color: rgb(169, 25, 25);
}

.deleteButton:hover {
    background-color: rgb(210, 34, 34);
}

/* Estilo para telas pequenas */
@media screen and (max-width: 730px) {
    .card {
      width: 100%;
    }
}

@media screen and (min-width: 731px) and (max-width: 1000px) {
    .card {
      width: 40%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1400px) {
    .card {
      width: 30%;
    }
}