.navbar {
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    min-height: 72px;
}

.navbar a {
    color: #7a5353;
}

.navbar a:hover {
    color: #A97676;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    width: 6%;
}

.brand h3 {
    font-size: 1em;
    margin-top: 5px;
    color: #cf9d9d;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
    color: #a97676;
}
