.photo_item {
    font-family: 'Roboto Slab', serif;
}

.photo_item img {
    width: 100%;
}

.photo_item h2 {
    text-align: left;
    margin-bottom: 0.2em;
}

.photo_author {
    text-align: left;
}

.photo_author a {
    font-weight: bold;
    text-decoration: underline;
    color: #946262;
}