.edit_post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A97676;
    padding: 2em 0;
    min-height: calc(100vh - 72px);
}

.page_titles {
    text-align: center;
    margin-bottom: 0.5em;
}

.page_titles h2 {
    font-size: 2rem;
    color: #FFF4F4;
    font-family: 'Roboto Slab', serif;
}

.page_titles p {
    font-size: 1em;
    color: #FFF4F4;
    font-family: 'Indie Flower' cursive;
}

.image_preview {
    max-width: 100%;
}

.buttonsAndAlerts {
    text-align: center;
}

.editBtn {
    background-color: #946262;
    border: none;
    font-weight: bold;
    padding: 0.8em 1.5em;
    transition: 0.5s all;
}

.editBtn:hover {
    background-color: #A97676;
    transform: scale(1.1);
}