.community {
    background-color: #D7AFAF;
    min-height: calc(100vh - 72px);
    margin-top: 72px;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 1.5em 0;
}

.search_form {
    text-align: center;
    padding: 1em;
}

.search_form input {
    box-sizing: border-box;
    border: none;
    color: #FEFEFE;
    border-bottom: 1px solid #FEFEFE;
    padding: .5em 0;
    background-color: transparent;
    width: 50%;
    margin-right: 10px;
}

.search_form input::placeholder {
    color: #FEFEFE;
}

.search_button,
.seeMoreBtn {
    background-color: #946262;
    border: none;
    border-radius: 0;
    font-weight: 600;
}

.search_button:hover,
.seeMoreBtn:hover {
    background-color: #A97676;
}

.seeMoreBtn {
    margin: 1em 0;
}

.community .btn {
    display: block;
    max-width: 80px;
    text-align: center;
    margin: 0.5em 0 2em 0;
}

.no_photos {
    text-align: center;
}

.no_photos a {
    color: #0094f6;
}

@media only screen and (max-width: 600px) {
    .search_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search_form input,
    .search_button {
        width: 90%;
        margin: 0.5em 0;
    }

    .container {
        width: 90%;
    }
}